@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Regular.woff2");
  src: url("./Gilroy-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Medium.woff2");
  src: url("./Gilroy-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Semibold.woff2");
  src: url("./Gilroy-Semibold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Bold.woff2");
  src: url("./Gilroy-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Extrabold.woff2");
  src: url("./Gilroy-Extrabold.woff2") format(woff2);
  font-weight: 800;
  font-style: normal;
}
