.offer {
  background: radial-gradient(#253f4e, #17191b) no-repeat;
  padding-bottom: clamp(44px, 10.1vw, 194px);
}
.offer-logo {
  text-align: center;
  padding-top: clamp(50px, 7.81vw, 150px);
}
.offer-text {
  text-align: center;
  max-width: 105ch;
  margin: 0 auto;
}
.offer-title {
  font-family: var(--ff-Gilroy);
  font-weight: var(--fw-bold);
  font-size: clamp(20px, 3.12vw, 60px);
  color: var(--clr-white);
  padding-bottom: 1em;
}
.offer-subtitle {
  font-family: var(--ff-Gilroy);
  font-weight: var(--fw-bold);
  font-size: clamp(12px, 3.12vw, 24px);
  color: var(--clr-light-gray);
  padding-bottom: 2em;
}
.offer-btn {
  font-family: var(--ff-Gilroy);
  font-weight: var(--fw-bold);
  font-size: clamp(10px, 3.12vw, 20px);
  color: var(--clr-white);
  background-color: var(--clr-blue);
  padding: 0.9em 1.8em;
  border-radius: 8px;
}

@media all and (max-width: 1240px) {
  .offer-text {
    max-width: 80ch;
  }
}
